---
layout: page
title: North Is ⇡
---
{% include JB/setup %}

{% for post in site.posts limit:3 %}
<h2>
    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
</h2>

{{ post.content | replace:'more start -->','' | replace:'<!-- more end','' }}
<!--  -->
<hr />

{% endfor %}

<ul class="posts">
  {% for post in site.posts %}
    <li>
        <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
        &raquo; <span>{{ post.date | date_to_string }}</span>
    </li>
  {% endfor %}
</ul>

</hr>
{% include JB/comments %}
